# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Build directories
build/
bin/
obj/

# IDE specific files
*.cbp
*.layout
*.depend
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Temporary files
*~
*.swp
*.bak
